#cuerpo {
    font-family: Cursive; 
    background-color: pink;
}

#tabla {
    font-family: fantasy;
    background-color: palevioletred;
    color: pink;
    margin-bottom: 10px;
}

#tabla .titulo {
    color: black;
}

.palevioletred {
    color: palevioletred;
}

.deeppink {
    color: deeppink;
}

#texto {
    size: 30px;
    color: darkmagenta;
}

#boton {
    background-color: rgb(183, 96, 183);
}
.container {
    margin-top: 3%;
}

.badge {
    margin-left: 1%;
    background-color: pink;
    border: 1px solid deeppink;
    color:black;
}
.tarjeta {
    background-color: palevioletred;
    color: white;
    margin-top: 2%;
    margin-bottom: 2%;
}
.btn, .btn:focus, .btn:focus-visible, .btn:hover {
    border: 1px solid deeppink;
    background-color:pink;
}