#cuerpo {
    font-family: Cursive; 
    background-color: pink;
}

#tabla {
    font-family: fantasy;
    background-color: palevioletred;
    color: pink;
    margin-bottom: 10px;
}

#tabla .titulo {
    color: black;
}

.palevioletred {
    color: palevioletred;
}

.deeppink {
    color: deeppink;
}

#texto {
    size: 30px;
    color: darkmagenta;
}

#boton {
    background-color: rgb(183, 96, 183);
}
.container {
    margin-top: 3%;
}